body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    /*use roboto*/
    font-style: normal;
    color: #999999;
}

h1 {
    font-size: 62pt;
}

/*div[class="row"] {
    border: 1px solid blue;
}

div[class^="col-"] {
    background-clip: content-box;
    background-color: rgba(255, 0, 0, 0.2);
}*/

.spacer-sm {
    height: 2em;
}

.spacer-md {
    height: 10em;
}

.spacer-lg {
    height: 20em;
}

.page-header {
    margin-top: 7em;
    border: none;
}

/*CSS for custom buttons ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.btn {
    text-transform: uppercase;
    border-radius: 1px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background-color: #cc66cc;
    border-color: #cc66cc;
}

.btn-primary:hover {
    background-color: #862d86;
    border-color: #862d86;
}

.btn-sm {
  margin: 3px;
}

[hidden] {
  display: none !important;
}

/* CSS for modals ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.modal-body .row {
  padding-bottom: 16px;
}

/*CSS for places autocomplete ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.pac-icon {
  width: 0;
  background-image: none;
}

.pac-item {
  font-family: 'Roboto', sans-serif;
  color: #999999;
}
/*.pac-container{
  border-radius: 8px;
}*/

/*CSS for user map ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#userloc {
    border-radius: 5%;
    height: 250px;
    width:  250px;
}

#user-panel {
    border: transparent;
    box-shadow: none;
    padding: 0%;
}

/*CSS for service map ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#servmap {
    height: 50%;
  }

/*CSS for email ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#msg, #mail { resize: none; }

#email-info, #sms-info {
    color: #999999;
}

#email-info:hover, #sms-info:hover{
    color: #333;
}

.tooltip1 {
    position: relative;
    display: inline;
}

.tooltip1:hover::before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 15px;
    content: "";
    position: absolute;
    z-index: 99;
}

.tooltip1:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 20px;
    color: #fff;
    content: attr(tooltip);
    right: -35%;
    padding: 5px 10px;
    position: absolute;
    z-index: 98;
    width: 230px;

}

/*CSS for custom navbar ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.navbar-primary .navbar-nav > li > a:hover,
    .navbar-primary .navbar-nav > li > a:focus {
    color: #34515e;  /*Sets the text hover color on navbar*/
}

.navbar-primary .navbar-nav > a,
    .navbar-primary .navbar-nav > a:hover,
    .navbar-primary .navbar-nav > a:focus {

    color: black; /*BACKGROUND color for active*/
    background-color: #030033;
}

.navbar-primary .navbar-toggle {
    background-color: white;
    border-color: white;
}

.navbar-primary .navbar-toggle:hover, .navbar .navbar-toggle:focus {
    border-color: #e7e7e7;
}

.navbar-primary .navbar-header .navbar-brand {
    color: white;
    background-color: #862d86;
}

.navbar-primary {
    background-color: #cc66cc;
    border-color: #cc66cc;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #66CCFF;  /*change color of links in drop down here*/
}

.navbar-primary .navbar-nav > li > a {
    color: white; /*Change active text color here*/
}

/*CSS for custom panels ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.panel.panel-spaced {
    margin: 60px;
}

.panel-primary > .panel-heading {
    background-color: #cc66cc;
    border-color: #cc66cc;
}

.panel-primary {
    border-color: #cc66cc;
}

.panel {
    border-radius: 0px;
}

.panel-body.scroll {
    overflow-y: scroll;
    height: 550px;
}

.review {padding-bottom: 5px;}
.panel-body.review-container {padding-top:0;}
.review-header {margin-bottom: 10px;}
.reviewAuthor {margin: 0 5px;}
.reviewTime {color: #ccc;}

/*CSS for custom footer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

ul {
  list-style-type: none;
}

footer {
    position: static;
    right: 0;
    bottom: 0;
    left: 0;
    max-height: 65px;
    padding: 1em;
    background-color: #f8f8f8;
    text-align: center;
}

/*CSS for custom badges ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}

/*Styles for services ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#serviceno {
    margin-left: 1em;
}

#serviceyes {
    margin-right: 1em;
}

/*Styles for images ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.image {
  position:relative;
  overflow:hidden;
  padding-bottom:100%;
}

.highlight {
  transition: .3s ease;
}

.image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.middle {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.middle form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.highlight:hover img {
  opacity: 0.3;
}

.highlight:hover .middle {
  opacity: 1;
}

#imagerow {
  padding-top: 10px;
}

/*Styles for toggle switch ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00af00;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00af00;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
