body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    /*use roboto*/
    font-style: normal;
    color: #333333;
}

h1 {
    font-size: 62pt;
}

.sec-color{
    color: #cc0066;
}

.bang {
    font-family: 'Bangers', sans-serif;
    /*use roboto*/
}

.bold {
    font-weight: bold;
}

/*div[class="row"] {
    border: 1px solid blue;
}

div[class^="col-"] {
    background-clip: content-box;
    background-color: rgba(255, 0, 0, 0.2);
}*/

.spacer-sm {
    height: 100px;
}

.spacer-md {
    height: 160px;
}

.spacer-lg {
    height: 320px;
}

.page-header {
    margin-top: 112px;
    border: none;
    margin-bottom: 150px;
}

.page-header-sm {
    margin-top: 112px;
    border: none;
    margin-bottom: 50px;
}

/* @media (max-width: 768px) {
    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-justified > li > a  {
        border-bottom: 1px solid #ddd !important;
        border-radius: 4px 4px 0 0 !important;
    }
    .nav-justified > .active > a  {
        border-bottom-color: transparent !important;
    }
  } */

/*CSS for custom buttons ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*
.btn {
    text-transform: uppercase;
    border-radius: 1px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
} */

.btn-primary {
    width: 153px;
    height: 42px;
    mix-blend-mode: undefined;
    border-radius: 3px;
    background-color: #cc0066;
    font-size: 13.2px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    border: none;
}

.btn-secondary {
    width: 153px;
    height: 42px;
    mix-blend-mode: undefined;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 2px #cc0066;
    font-size: 13.2px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #cc0066;
}

.btn-primary:hover {
    background-color: #862d86;
    border-color: #862d86;
}

.btn-secondary:hover {
    background-color: #ffffff;
    border: 2px solid #862d86;
    color:#862d86;
}

.btn-sm {
  margin: 3px;
}

[hidden] {
  display: none !important;
}

.btn-more-info {
    margin-left: 163px;
}
/* CSS for modals ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.modal-body .row {
  padding-bottom: 16px;
}

/*CSS for places autocomplete ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.pac-icon {
  width: 0;
  background-image: none;
}

.pac-item {
  font-family: 'Roboto', sans-serif;
  color: #999999;
}
/*.pac-container{
  border-radius: 8px;
}*/

/*CSS for Service Creation ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#serveDesc, #serveAbout, #serveRules { resize: none; }

/*CSS for user map ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#userloc {
    border-radius: 5%;
    height: 250px;
    width:  250px;
}

#user-panel {
    border: transparent;
    box-shadow: none;
    padding: 0%;
}

/*CSS for service map ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#servmap {
    height: 50%;
  }

/*CSS for email/SMS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#msg, #mail { resize: none; }

#email-info, #sms-info {
    color: #999999;
}

#email-info:hover, #sms-info:hover{
    color: #333;
}

.tooltip1 {
    position: relative;
    display: inline;
}

.tooltip1:hover::before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 15px;
    content: "";
    position: absolute;
    z-index: 99;
}

.tooltip1:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 20px;
    color: #fff;
    content: attr(tooltip);
    right: -35%;
    padding: 5px 10px;
    position: absolute;
    z-index: 98;
    width: 230px;

}

/*CSS for custom navbar ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.navbar-primary .navbar-nav > li > a:hover,
    .navbar-primary .navbar-nav > li > a:focus {
    color: #34515e;  /*Sets the text hover color on navbar*/
}

.navbar-primary .navbar-nav > a,
    .navbar-primary .navbar-nav > a:hover,
    .navbar-primary .navbar-nav > a:focus {

    color: black; /*BACKGROUND color for active*/
    background-color: #030033;
}

.navbar-primary .navbar-toggle {
    background-color: white;
    border-color: white;
}

.navbar-primary .navbar-toggle:hover, .navbar .navbar-toggle:focus {
    border-color: #e7e7e7;
}

.navbar-primary .navbar-header .navbar-brand {
    color: white;
    background-color: #862d86;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #66CCFF;  /*change color of links in drop down here*/
}

.navbar-primary .navbar-nav > li > a {
    color: white; /*Change active text color here*/
}

.nav-container{
    border-width:0;
    box-shadow:none;
    background-color: white;
}
.navbar {
    background-color: white;
    border: 0;
}

.material-nav {
    box-shadow: 0 4px 12px rgba(0, 0, 0, .05);
    z-index: 10;
}

/*CSS for custom panels ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

 @media (max-width:420px) {
  .panel-spaced {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.panel.panel-spaced {
    margin: 60px;
}

/*.panel-primary > .panel-heading {
    background-color: white;
    border-color: none;
}

.panel-primary {
    border-color: white;
} */

.panel {
    border-radius: 0px;
    border: none;
    box-shadow: none;
}

.panel.shadow {
    box-shadow: 0px 1px 6.9px 0.1px rgba(0, 0, 0, 0.16);
}

.panel-body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.panel-default > .panel-heading {
    border: none;
    background-color: white;
}

.panel-body.scroll {
    overflow-y: scroll;
    max-height: 500px;
}

.panel-default {
    border: none;
}

.panel-important {
    font-weight: bold;
    font-size: 25.5px;
    font-family: Roboto;
}

.location-address {
    font-weight: 500;
    font-size: 25.5px;
    font-family: Roboto;
    font-style: italic;
}

.review {padding-bottom: 5px;}
.panel-body.review-container {padding-top:0;}
.review-header {margin-bottom: 10px;}
.reviewAuthor {margin: 0 5px;}
.reviewTime {color: #ccc;}

/*CSS for custom footer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

ul {
  list-style-type: none;
}

footer {
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100px;
    width: 100%;
    padding: 16px;
    text-align: center;
}

/*CSS for custom badges ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}

/*Styles for services ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.service-tabs.nav {
    border: none;
    border-color: white;

}

.service-tabs.nav > li {
    /* padding-left: 1px;
    padding-right: 1px; */
    box-shadow: 0px 1px 6.9px 0.1px rgba(0, 0, 0, 0.16);
    border: none;
    border-radius: 0px;
    border-color: white;

}

.service-tabs.nav > li > a {
    background-color: #c4c4c4;
    text-transform: uppercase;
    color: #676767;
    border: none !important;
    border-radius: 0px;
}

.service-tabs.nav > li.active > a, .service-tabs.nav > li > a:focus,
.service-tabs.nav > li > a:hover{
    background-color: #ffffff;
    border: none;
}

.tab-content.service-tab-content {
    box-shadow: 0px 1px 6.9px 0.1px rgba(0, 0, 0, 0.16);
}

#serviceno {
    margin-left: 16px;
}

#serviceyes {
    margin-right: 16px;
}

/*Styles for images ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.image {
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}

.highlight {
    transition: .3s ease;
}

.image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.middle {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.middle form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.highlight:hover img {
    opacity: 0.3;
}

.highlight:hover .middle {
    opacity: 1;
}

#imagerow {
    padding-top: 10px;
}

#logoRow {
    padding-top: 10px;
}

/*Styles for images ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.image {
  position:relative;
  overflow:hidden;
  padding-bottom:100%;
}

.img-shadow {
  min-width: 222px;
  min-height: 160px;
  box-shadow: 0px 2px 7.8px 0.2px rgba(0, 0, 0, 0.3);
  margin-bottom: 1.15em;
}

.highlight {
  transition: .3s ease;
}

.image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.middle {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.middle form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.highlight:hover img {
  opacity: 0.3;
}

.highlight:hover .middle {
  opacity: 1;
}

#imagerow {
  padding-top: 10px;
}

#logoRow {
  padding-top: 10px;
}

/*Styles for toggle switch ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00af00;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00af00;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

/*CSS for text styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.bangers-heading {
  font-family: 'Bangers', sans-serif;
  font-size: 42px;
  text-align: left;
}

.roboto-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 900;
  text-align: left;
}

.phone-num {
  letter-spacing: 1.5px;
}

.roboto-title {
  font-family: 'Roboto', sans-serif;
  font-size: 24.7px;
  font-weight: 900;
  text-align: left;
}

.roboto-desc {
  font-family: 'Roboto', sans-serif;
  font-size: 17.9px;
  font-weight: 500;
  text-align: left;
}

.roboto-sub-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.black {
  color: #000000;
}

.dark-grey {
  color: #333333;
}

.deep-pink {
  color: #cc0066;
}

.line-spc-1 {
  line-height: .55em;
}

.line-spc-2 {
  line-height: .85em;
}

.line-spc-3 {
  line-height: .95em;
}

.line-spc-4 {
  line-height: 1.2em;
}

.line-spc-5 {
  line-height: 1.95em;
}
/*CSS for images ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.img-shadow {
  min-width: 222px;
  min-height: 160px;
  box-shadow: 0px 2px 7.8px 0.2px rgba(0, 0, 0, 0.3);
  margin-bottom: 1.15em;
}

/*Accordion ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Style the buttons that are used to open and close the accordion panel */

.accordion {
    background-color: inherit;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid grey;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordian.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the accordion panel. Note: hidden by default */
.accordion + .panel {
    display: none;
    overflow: hidden;
}
