extends navbarDefault

block content
    #banner.page-header
        .row
          .bangers-title.deep-pink
            | HOME FOR NOW
          .roboto-desc.dark-grey
            | A Web App that allows young people to search for vacant places 
            | in the Crisis and Transitional Accommodation sectors, and allows
            | Services to manage requests for housing.
    .row
        .bangers-heading.dark-grey
          | About Us
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
          | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
          | ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          | aliquip ex ea commodo consequat. Duis aute irure dolor in 
          | reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          | pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
          | culpa qui officia deserunt mollit anim id est laborum. 
          | Doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo 
          | inventore veritatis et quasi architecto beatae vitae dicta sunt 
          | explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
          | aut odit aut fugit, sed quia consequuntur magni dolores eos qui
          | ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
          | dolorem ipsum quia dolor sit amet, consectetur, adipisci.
    .row
        .bangers-heading.dark-grey
          | For You
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
          | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
          | ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          | aliquip ex ea commodo consequat. Duis aute irure dolor in 
          | reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          | pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
          | culpa qui officia deserunt mollit anim id est laborum. 
          | Doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo 
          | inventore veritatis et quasi architecto beatae vitae dicta sunt 
          | explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
          | aut odit aut fugit, sed quia consequuntur magni dolores eos qui
          | ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
          | dolorem ipsum quia dolor sit amet, consectetur, adipisci.
    .row
        .col-sm-8
          p
            | map
        .col-sm-4
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
            | do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            | Ut enim ad minim veniam, quis nostrud one voluptatem sequi nesciunt. 
          p
            | Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
            | consectetur, adipisci velit, sed quia non numquam eius modi tempora
            | incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
          
    .row
      .col-sm-6
        .panel-spaced
          .roboto-heading.black.line-spc-5
            | Entry Point
          .roboto-heading.phone-num.deep-pink.line-spc-2
            | 6496 0001
            p.line-spc-2
            | 1800 124 684
      .col-sm-6
        .panel-spaced
          .roboto-heading.black.line-spc-5
            | Crisis Care
          .roboto-heading.phone-num.deep-pink.line-spc-2
            | 9223 1111
            p.line-spc-2
            | 1800 199 008
