extends navbarDefault
include _includes/deleteImageModal
include _includes/deleteLogoModal

block content

  style.
    select, textarea, .thumbnail {
      border: solid 2px #333333 !important;
      border-radius: 3px !important;
      box-shadow: 0px 2px 7.8px 0.2px rgba(0, 0, 0, 0.3) !important;
    }
    .well {
      box-shadow: 0px 2px 7.8px 0.2px rgba(0, 0, 0, 0.3) !important;
      border: solid 2px #333333 !important;
      border-radius: 3px !important;
      background-color: #ebebeb;
    }
    #serveDesc, #serveAbout, #serveRules { resize: none; }
  
  #banner.page-header    
    .container-fluid
      .row
        h1.bang.sec-color= 'Add Service'
        .spacer-sm
      .row
        form(action='/addservice', method='post', role='form', id='addServiceForm')  
          .row
            .form-group#serveName
              .col-xs-6(style='margin-bottom: 15px;')
                label(for='serveUser') USER
                select.form-control(name='serveUser', id='serveUser')
                  option(value='None') None
                  each user in users
                    option(value=user._id) #{user.name}
              .col-xs-12.col-sm-7(style='margin-bottom: 15px;')
                label(for='serveName') SERVICE NAME
                input(type='text', name='serveName', id='serveName', required='').form-control
              .col-xs-12.col-sm-5(style='margin-bottom: 15px;')
                label(for='serveType') SERVICE TYPE
                select.form-control(name='serveType', id='serveType', style='padding: 6px 10px 6px 4px;', required='')
                  option(value='crisis') CRISIS
                  option(value='transitional') TRANSITIONAL
            .form-group#serveLocation
              .col-xs-12
                label LOCATION
              .col-xs-12.col-sm-5(style='margin-bottom: 15px;')
                input(type='text', name='serveSuburb', id='serveSuburb', required='', placeholder='SUBURB', autocomplete='on').form-control
              .col-xs-6.col-sm-3(style='margin-bottom: 15px;')
                select.form-control(name='serveState', id='serveState', style='padding: 6px 10px 6px 4px;', required='')
                  option(hidden='true') STATE
                  option ACT
                  option NSW                  
                  option NT
                  option QLD
                  option SA
                  option TAS
                  option VIC
                  option WA
              .col-xs-6.col-sm-4(style='margin-bottom: 15px;')
                input(type='text', name='servePostcode', id='servePostcode', placeholder='POSTCODE').form-control
            .form-group#serveAge
              .col-xs-12.col-sm-8
                .row
                  .col-xs-12
                    label AGE RANGE 
                  .col-xs-6(style='margin-bottom: 15px;')
                    select.form-control(name='serveMinAge', id='serveMinAge', style='padding: 6px 10px 6px 4px;', required='')
                      option(hidden='true') MIN. AGE
                      option 15
                      option 16
                      option 17
                      option 18
                      option 19
                      option 20
                      option 21
                      option 22
                      option 23
                      option 24
                      option 25
                  .col-xs-6(style='margin-bottom: 15px;')
                    select.form-control(name='serveMaxAge', id='serveMaxAge', style='padding: 6px 10px 6px 4px;', required='')
                      option(hidden='true') MAX. AGE
                      option 15
                      option 16
                      option 17
                      option 18
                      option 19
                      option 20
                      option 21
                      option 22
                      option 23
                      option 24
                      option 25
              .col-xs-12.col-sm-4(style='margin-bottom: 15px;')
                label(for='serveStayLength') MAX. STAY LENGTH
                select.form-control(name='serveStayLength', id='serveStayLength', style='padding: 6px 10px 6px 4px;', required='')
                  option(hidden='true') (in months)
                  option 1
                  option 3
                  option 6
                  option 9
                  option 12
                  option 15
                  option 18
                  option 21
                  option 24
          .row
            .form-group#serveContact
              .col-xs-12
                label SERVICE CONTACT INFORMATION
              .col-xs-12.col-sm-8(style='margin-bottom: 15px;')
                input(type='email', name='serveEmail', id='serveEmail', placeholder='EMAIL', required='').form-control
              .col-xs-12.col-sm-4(style='margin-bottom: 15px;')
                input(type='tel', name='servePhone', id='servePhone', placeholder='PHONE NUMBER',required='').form-control
          .row
            .form-group#servePassword
              .col-xs-12.col-sm-6(style='margin-bottom: 15px;')
                .row
                  .col-xs-12
                    label(for='servePass') PASSWORD
                    input(type='password', name='servePass', id='servePass', required='').form-control
              .col-xs-12.col-sm-6(style='margin-bottom: 15px;')
                .row
                  .col-xs-12
                    label(for='serveCon') CONFIRM PASSWORD
                    input(type='password', name='serveCon', id='serveCon', required='').form-control
          .row
            .col-xs-12.col-md-7
              .form-group#serveDescForm
                .row
                  .col-xs-12
                    label(for='serveDesc') BRIEF DESCRIPTION
                    textarea(rows="5", name='serveDesc',id='serveDesc', spellcheck="true", placeholder="Enter Description").form-control
              .form-group#serveAboutForm
                .row
                  .col-xs-12
                    label(for='serveAbout') ABOUT
                    textarea(rows="5", name='serveAbout',id='serveAbout', spellcheck="true", placeholder="Enter Description").form-control
              .form-group#serveRulesForm
                .row
                  .col-xs-12
                    label(for='serveRules') HOUSE RULES
                    textarea(rows="5", name='serveRules',id='serveRules', spellcheck="true", placeholder="Enter Description").form-control
              .form-group#thankyouMessageForm              
                .row
                  .col-xs-12
                    label(for='thankyouMessage') THANK YOU MESSAGE
                    textarea(rows="5", name='thankyouMessage',id='thankyouMessage', spellcheck="true", placeholder="Enter Description").form-control
          .row
            .form-group#serveAmenitiesForm
              .col-xs-12
                label AMENITIES
                .row
                  .col-xs-12.col-sm-7
                    .well
                      .row
                        .form-inline
                          .col-xs-1.col-xs-offset-1(style='padding: 0px;')
                            i.material-icons.sec-color tv
                          .col-xs-9(style='padding-top: 3px;')
                            label(for='TV') TV
                          .col-xs-1(style='padding: 0px; margin-top: 2px;')
                            input#TV(type="checkbox", name="TV")
                      .row
                        .form-inline
                          .col-xs-1.col-xs-offset-1(style='padding: 0px;')
                            i.material-icons.sec-color local_laundry_service
                          .col-xs-9(style='padding-top: 3px;')
                            label(for='Washing') LAUNDRY/WASHER
                          .col-xs-1(style='padding: 0px; margin-top: 2px;')
                            input#WASHER(type="checkbox", name="WASHER")
                      .row
                        .form-inline
                          .col-xs-1.col-xs-offset-1(style='padding: 0px;')
                            i.material-icons.sec-color wifi
                          .col-xs-9(style='padding-top: 3px;')
                            label(for='WIFI') WIFI
                          .col-xs-1(style='padding: 0px; margin-top: 2px;')
                            input#WIFI(type="checkbox", name="WIFI")
                      .row(style='margin-bottom: 3px;')
                        .col-xs-1.col-xs-offset-1(style='padding: 0px;')
                          i.material-icons.sec-color wc
                        .col-xs-9(style='padding-top: 3px;')
                          label BATHROOM
                        .form-inline
                          .col-xs-9.col-xs-offset-2(style='padding-left: 30px;')
                            span.small.bold
                              label(for='BATHSHARED') SHARED
                          .col-xs-1(style='padding: 0px; margin-top: 2px;')
                            input#BATHSHARED(type="radio", name="BATH", value='shared')
                        .form-inline
                          .col-xs-9.col-xs-offset-2(style='padding-left: 30px;')
                            span.small.bold PRIVATE
                          .col-xs-1(style='padding: 0px; margin-top: 2px;')
                            input#BATHPRIVATE(type="radio", name="BATH", checked='', value='private')
                      .row
                        .form-inline
                          .col-xs-1.col-xs-offset-1(style='padding: 0px;')
                            i.material-icons.sec-color smoking_rooms
                          .col-xs-9(style='padding-top: 3px;')
                            label SMOKING
                          .col-xs-1(style='padding: 0px; margin-top: 2px;')
                            input#SMOKE(type="checkbox", name="SMOKE")
                      .row
                        .form-inline
                          .col-xs-1.col-xs-offset-1(style='padding: 0px;')
                            i.material-icons.sec-color ac_unit
                          .col-xs-9(style='padding-top: 3px;')
                            label AIR-CONDITIONING
                          .col-xs-1(style='padding: 0px; margin-top: 2px;')
                            input#AIRCON(type="checkbox", name="AIRCON")
                      .row
                        .form-inline
                          .col-xs-1.col-xs-offset-1(style='padding: 0px;')
                            i.material-icons.sec-color videogame_asset
                          .col-xs-9(style='padding-top: 3px;')
                            label GAMES/CONSOLE
                          .col-xs-1(style='padding: 0px; margin-top: 2px;')
                            input#GAMES(type="checkbox", name="GAMES")
                      .row
                        .form-inline
                          .col-xs-1.col-xs-offset-1(style='padding: 0px;')
                            i.material-icons.sec-color fitness_center
                          .col-xs-9(style='padding-top: 3px;')
                            label GYM
                          .col-xs-1(style='padding: 0px; margin-top: 2px;')
                            input#GYM(type="checkbox", name="GYM")
                      .row
                        .form-inline
                          .col-xs-1.col-xs-offset-1(style='padding: 0px;')
                            i.material-icons.sec-color local_library
                          .col-xs-9(style='padding-top: 3px;')
                            label STUDY
                          .col-xs-1(style='padding: 0px; margin-top: 2px;')
                            input#STUDY(type="checkbox", name="STUDY")
                      .row
                        .form-inline
                          .col-xs-1.col-xs-offset-1(style='padding: 0px;')
                            i.material-icons.sec-color local_dining
                          .col-xs-9(style='padding-top: 3px;')
                            label KITCHEN
                          .col-xs-1(style='padding: 0px; margin-top: 2px;')
                            input#KITCHEN(type="checkbox", name="KITCHEN")
                      .row
                        .form-inline
                          .col-xs-1.col-xs-offset-1(style='padding: 0px;')
                            i.material-icons.sec-color phone
                          .col-xs-9(style='padding-top: 3px;')
                            label PHONE
                          .col-xs-1(style='padding: 0px; margin-top: 2px;')
                            input#PHONE(type="checkbox", name="PHONE")
                      .row
                        .form-inline
                          .col-xs-1.col-xs-offset-1(style='padding: 0px;')
                            i.material-icons.sec-color schedule
                          .col-xs-9(style='padding-top: 3px;')
                            label CURFEW
                          .col-xs-1(style='padding: 0px; margin-top: 2px;')
                            input#CURFEW(type="checkbox", name="CURFEW")
                      .row
                        .form-inline
                          .col-xs-1.col-xs-offset-1(style='padding: 0px;')
                            i.material-icons.sec-color lock
                          .col-xs-9(style='padding-top: 3px;')
                            label SECURE
                          .col-xs-1(style='padding: 0px; margin-top: 2px;')
                            input#SECURE(type="checkbox", name="SECURE")
                      .row
                        .form-inline
                          .col-xs-1.col-xs-offset-1(style='padding: 0px;')
                            i.material-icons.sec-color local_florist
                          .col-xs-9(style='padding-top: 3px;')
                            label OUTDOOR/GARDEN
                          .col-xs-1(style='padding: 0px; margin-top: 2px;')
                            input#OUTDOOR(type="checkbox", name="OUTDOOR")
          .text-right
            input(type='submit', value='ADD SERVICE').btn.btn-primary#addService
          .spacer-sm
  //- script.
  //-   $('#fileAdd').on('change', function () {
  //-     $('#plus-img').hide();
  //-     $('#spinner-gif').show();
  //-   });
  //-   $('#logoAdd').on('change', function () {
  //-     $('#plusLogo-img').hide();
  //-     $('#spinnerLogo-gif').show();
  //-   });
  //-   /**
  //-   * Initialises the Google places autocomplete object.
  //-   * Adds event listeners to the 'For now' and 'Long term' buttons on the index page.
  //-   */
  //-   function initialize()
  //-   {
  //-     const options = {
  //-       types: ['(cities)'],
  //-       componentRestrictions: { country: 'au' }
  //-     };
  //- 
  //-     const input = document.getElementById('serveSuburb');
  //-     const autocomplete = new google.maps.places.Autocomplete(input, options);
  //-   }
  //- script(async='', defer='',  src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDIeuSPvAEW6jvSDFwx3tLfQw0llzYuN2A&libraries=places&callback=initialize')
