extends navbarDefault

block content
	.spacer-sm
	.container-fluid
		.row
			.col-xs-12
				.panel.panel-default
					.panel-body
						.col-sm-12
							h2 Admin Dashboard
							.dropdown
								button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
									| Options
									span.caret
								ul.dropdown-menu
									li
										a(href='/admin/addservice') Add Service
	.container-fluid
		.row
			.col-xs-12.col-md-6
				.thumbnail
					.panel-body(style='overflow-y: scroll; height: 300px')
						.mid-width.wrapItems(style='background-color:white; height:600px')
							h4 Messages
			.col-xs-12.col-md-6
				.thumbnail
					.panel-header
						.container-fluid
							h2 Services
					.panel-body.scroll
						.mid-width.wrapItems
							each service in services
								button.accordion= service.name
								.panel
									.panel-body
										.row
											.col-xs-6
												each bed in service.beds
													p= bed.gender
												p THESE ARE WORDS
											.col-xs-6
												each request in service.requests
													p= request.firstName + ", " + request.createdAt
										.row
											.col-xs-12
												canvas(id="myChart1")
			.col-xs-6
				h2 Assisted/Unassisted Persons
				canvas(id="assistedChart")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js")
	script(src="javascripts/adminPage.js")
