extends layout

block content
	#banner.page-header
		.row
			.col-lg-6
				h1= title
					br
					small &nbsp;#{tagline}
	.container-fluid
		.row
			each location in locations
				.col-xs-12
					.panel.panel-default
						.panel-heading
							a(href='/location', style="text-decoration: none; color: inherit;")
								h2.panel-title= location.name
						.row
							.col-sm-4
								a(href='/location')
									img.img-responsive.img-square(src='https://static.pexels.com/photos/164516/pexels-photo-164516.jpeg')
							.col-sm-4
								.panel-body.text-justify
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							.col-sm-4
								.panel-body
									if location.availability
										span.text-success
											span.glyphicons.glyphicons-ok
											| Avaliable
									else
										span.text-danger
											span.glyphicons.glyphicons-remove
											| Not Avaliable
								.panel-body
									| Contact: #{location.number}
