extends layout

block content
	#banner.page-header
		.row
			.col-lg-6
				h1= title
					small &nbsp;#{tagline}
	.row
		.col-xs-12
			table.table.table-hover
				thead
					tr
						th Location
						th Availablibity
						th Number
				tbody
					tr
						td Spearwood
						td Available 
						td 0450759889
					tr
						td Spearwood
						td Available
						td 0450759889
					tr
						td Spearwood
						td Available 
						td 0450759889