extends navbarDefault
include _includes/contactModal
include _includes/vacancyListPanel

block content

  #banner.page-header
    .row
      .col-md-6
        h1.bang LET'S FIND A
        h1.bang HOME FOR
          span.sec-color.bang  NOW.
      .col-md-6
          #userloc
  .row
    each location in locations
      +contactModal(location.name, location._id, location.available, location.phoneNumber, location.uri, location.thankyouMessage)
      +vacancyPanel(location.name, location.address.suburb, location.available, location.description, location.uri, locationImgs[locations.indexOf(location)])

    each dlocation in dlocations
        +vacancyPanel(dlocation.name, dlocation.address.suburb, dlocation.available, dlocation.description, dlocation.uri, dlocationImgs[locations.indexOf(location)])

  script.
    /**
    * Map that displays on the user location
    */
    function userMap()
    {
        const lat = Number("#{userCoords.lat}");
        const long = Number("#{userCoords.long}");
        const coord = {lat: lat, lng: long}; // need to change to user current latlng
        const map = new google.maps.Map(document.getElementById('userloc'), {
          zoom: 14,
          center: coord,
          disableDefaultUI: true,
          zoomControl: false,
          gestureHandling: 'none'
        });

        const marker = new google.maps.Marker({
          position: coord,
          map: map
        });
    }
  script(src='/javascripts/requests.js')
  script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key='+process.env.embed_maps_api+'&callback=userMap')
