extends navbarDefault

block content
    #banner.page-header
      .container-fluid
        .row
          .col-xs-12 
            h2.bang Contact Us
          .col-md-6.col-xs-12  
            p
              | If you would like to get in touch with the team behind 
              | HomeForNow, please contact us on 
              span
                a info@homefornow.org.au
              | . The email address is monitored by Anglicare WA. If you have any 
              | feedback (good or bad) we’d love to hear from you.  
          .col-md-6.col-xs-12
            p
              | Note that the HomeForNow team is only responsible for this Web 
              | Application and provides no accommodation services. HomeForNow 
              | can not provide any advice on homelessness or provide one to one 
              | support. 
        .row
          .col-xs-12 
            h2.bang If you need urgent assistance please contact:
          .col-xs-6
            h3.bold='Entry Point'
            h4.bold.sec-color.
              6496 0001 </br>
              1800 124 684
          .col-xs-6
            h3.bold='Crisis Care'
            h4.bold.sec-color.
              9223 1111 </br>
              1800 199 008
              
    style.
      hr {
        height: 2px;
        width: 52.3437vw;
        background-color: #616161;
        margin-top: 0px;
      }
      .logo-image {
        padding-top: 10px;
        padding-bottom: 10px;
      }
