extends navbarDefault

block content
  
  .page-header
    a(href='#',data-toggle='modal',data-target='#imagesmodal')
        button.btn.btn-lg.btn-primary
            | Edit images
    include _includes/imagesModal
