extends navbarDefault

block content
  
  .row.page-header
    .col-lg-12
      h3 Images
  .row.list-group
    .item.col-xs-6.col-md-4
      .thumbnail
        img.img-responsive.group.list-group-image(src="/images/placeholder.png", alt="First Image")
        .caption
          .row.text-center
            .col-xs-12.col-sm-6
              a.btn.btn-primary.btn-sm Edit
            .col-xs-12.col-sm-6
              a.btn.btn-primary.btn-sm Delete
    .item.col-xs-6.col-md-4
      .thumbnail
        img.img-responsive.group.list-group-image(src="/images/placeholder.png", alt="Second Image")
        .caption
          .row.text-center
            .col-xs-12.col-sm-6
              a.btn.btn-primary.btn-sm Edit
            .col-xs-12.col-sm-6
              a.btn.btn-primary.btn-sm Delete
    .item.col-xs-6.col-md-4
      .thumbnail
        img.img-responsive.group.list-group-image(src="/images/placeholder.png", alt="Third Image")
        .caption
          .row.text-center
            .col-xs-12
              a.btn.btn-primary.btn-sm Add
    .item.col-xs-6.col-md-4
      .thumbnail
        img.img-responsive.group.list-group-image(src="/images/placeholder.png", alt="Fourth Image")
        .caption
          .row.text-center
            .col-xs-12
              a.btn.btn-primary.btn-sm Add
    .item.col-xs-6.col-md-4
      .thumbnail
        img.img-responsive.group.list-group-image(src="/images/placeholder.png", alt="Fifth Image")
        .caption
          .row.text-center
            .col-xs-12
              a.btn.btn-primary.btn-sm Add
    .item.col-xs-6.col-md-4
      .thumbnail
        img.img-responsive.group.list-group-image(src="/images/placeholder.png", alt="Sixth Image")
        .caption
          .row.text-center
            .col-xs-12
              a.btn.btn-primary.btn-sm Add
