extends navbarDefault

block content
  #banner.page-header
    .row
      .col-xs-12.text-center
        h1.bang= error.status
        h2.bold= message
      .col-xs-12
        img.img-responsive(src="/images/error.gif")
