extends navbarDefault

block content
    include _includes/signupModal

    #banner.page-header
        include _includes/messages/error
        include _includes/messages/info
        .row
            .col-md-8
                h1= title
    form(id="locationForm")
        .form-group
            .row
                .col-md-8.col-xs-12
                    input.form-control.input-lg(type="text", name="location", placeholder="Location e.g. Subiaco" autocomplete="on")#location
                    .spacer-sm
                      .row
                          .col-md-6.col-sm-8.text-left(style="margin-top: 3px;")
                            a(style="padding-left: 18px;")
                            | Use
                            a#get_location(href="#" class="geoloc" style="color: #999;")
                                | current location
                .col-md-2.col-xs-6.text-right
                    a(href='#',data-toggle="modal",data-target="#signupmodalshort")
                        button.btn.btn-lg.btn-primary
                            | For now
                .col-md-2.col-xs-6.text-left
                    a(href='#',data-toggle="modal",data-target="#signupmodallong")
                        button.btn.btn-lg.btn-default
                            | Long term
    .spacer-lg
    .row
        each location in locations
            .col-lg-4.col-md-12
                .panel.panel-default.panel-spaced
                    .panel-heading
                        a(href='/location'+location.name, style="text-decoration: none; color: inherit;")
                            h2.panel-title= location.name
                    .row
                        .col-lg-12.col-sm-5
                            a(href="location/?name="+location.name)
                                img.img-responsive.img-square(src='https://static.pexels.com/photos/164516/pexels-photo-164516.jpeg')
                        .col-lg-12.col-sm-4
                            .panel-body.text-justify
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        .col-lg-12.col-sm-3
                            .panel-body
                                if location.availability
                                    span.text-success
                                        span.glyphicon.glyphicon-ok
                                        | &nbsp;Avaliable
                                else
                                    span.text-danger
                                        span.glyphicon.glyphicon-remove
                                        | &nbsp;Not Avaliable
                            .panel-body
                                | Contact: #{location.number}
    script(src="https://code.jquery.com/jquery-3.2.1.js"  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src='/javascripts/maps.js')
    script(src='/javascripts/requests.js')
    script.
        function initialize() {
          var options = {
            types: ["(cities)"],
            componentRestrictions: {country: "au"}
          };

          var input = document.getElementById('location');
          var autocomplete = new google.maps.places.Autocomplete(input, options);
        }
    script(async='', defer='',  src="https://maps.googleapis.com/maps/api/js?key="+process.env.embed_maps_api+"&libraries=places&callback=initialize")
