doctype html
head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title
        | Home For Now:&nbsp;
        | #{title}
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Bangers')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
script(src='/javascripts/jquery.js')
script(src='/javascripts/validation.js')
script(src='/javascripts/auth.js')
script(src='/bootstrap/js/bootstrap.min.js')
body
block navbar
footer
  .container-fluid
    ul.list-inline
      li
        a(href="/about") About us
      li
        a(href="/terms") Terms of use
      li
        a(href="/support") Support
      li
        a(href="/contact") Contact us
      p
        | HomeForNow &copy; 2018
        | &nbsp;
//- include _includes/loginModal
//- include _includes/registerModal
include _includes/regloginmodal
