include _includes/loginModal

doctype html
head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title
        | Home For Now:&nbsp;
        | #{title}
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400", rel="stylesheet")
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
body
block navbar
.container
  footer
    .row
      .col-xs-12
        small &copy; Anglicare
script(src='/javascripts/app.js')
script(src='/bootstrap/js/bootstrap.min.js')
script(src='/javascripts/validation.js')
