doctype html
head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title
        | Home For Now:&nbsp;
        | #{title}
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:500,900")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Bangers')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
script(src='/javascripts/jquery.js')
script(src='/javascripts/validation.js')
script(src='/javascripts/auth.js')
script(src='/bootstrap/js/bootstrap.min.js')
body
  block navbar
footer
  .container-fluid(style='padding: 0px;')
    ul.list-inline(style='margin: 0px;')
      li
        a(href="/about") About us
      li
        a(href="/terms") Terms of use
      li
        a(href="/support") Support
      li
        a(href="/contact") Contact us
      li
        a(href='/addServiceCreation') Service Creation
      p(style='margin: 0px;')
        | HomeForNow &copy; 2018
include _includes/regloginModal
