include _includes/loginModal

doctype html
head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title
        | Home For Now:&nbsp;
        | #{title}
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:500,900")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Bangers')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
script(src='/bootstrap/js/bootstrap.min.js')
script(src='/javascripts/app.js')
script(src='/javascripts/validation.js')
body
block navbar
footer
  .container-fluid
    ul.list-inline
      li
        a(href="/about") About us
      li
        a(href="/terms") Terms of use
      li
        a(href="/support") Support
      li
        a(href="/contact") Contact us
      p
        | HomeForNow &copy; 2018
        | &nbsp;
