extends layout

block navbar
    .navbar.navbar-default.navbar-fixed-top
        .container-fluid
            .navbar-header
                a.navbar-brand(href='/') HomeForNow
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            #navbar-main.navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='#',data-toggle="modal",data-target="#signupmodal") Sign Up
                    li
                        a(href='#',data-toggle="modal",data-target="#loginmodal") Login
    .container
        block content
