extends layout

block navbar
    .navbar.navbar-default.navbar-fixed-top
        .container-fluid
            .navbar-header
                a.navbar-brand.navbar-left(href='/', style="display:inline;")
                    img.navbar-left.img-rounded(style="height:120%;", src='https://static.pexels.com/photos/164516/pexels-photo-164516.jpeg')
                    | &nbsp;#{user.name}
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            #navbar-main.navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='#') 
                            span.glyphicon.glyphicon-cog                            
                    
    .container
        block content
