extends layout

block navbar
    .navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/') HomeForNow
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            if user
              li 
                a(href="/service") Welcome #{user.name}
              li
                a(href="/logout") Logout
            else  
              li
                a(href='#',data-toggle="modal",data-target="#loginmodal") Login
              li
                a(href='/about') About
            
    .container
        block content
