extends layout

block navbar
  .navbar.navbar-default.navbar-fixed-top(style='z-index:99;')#navbar
    .container-fluid
      .navbar-header
        a.navbar-brand(href='/')
          span
            img(src="/images/logo.svg", style='height: 100%;')
          span &ensp; HomeForNow
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
          span.icon-bar
          span.icon-bar
          span.icon-bar
      #navbar-main.navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#', data-toggle='modal', data-target='#contact-us-modal') Contact Us
          if user
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | Welcome #{user.name} 
                  span.caret
              ul.dropdown-menu
                li
                  a(href='/user/settings') Settings
                li.divider(role='separator')
                li.dropdown-header Your Accommodations
                if services
                  each service in services
                    li
                      a(href=process.env.base_url + '/service/dashboard/' + service.uri) #{service.name}
            li
              a(href='/logout', style='padding-right: 20px;') Logout
          else
            li
              a(href='#', data-toggle='modal', data-target='#loginmodal', style='padding-right: 20px;') Service Login
            //- li
            //-   a(href='javascript: register()') Register
  .container
      block content
  script.
    window.onscroll = function () {
      const nav = document.querySelector('#navbar');
      var navClass = 'navbar navbar-default navbar-fixed-top';
      if (this.scrollY <= 10) {
        nav.className = navClass;
      } else {
        nav.className = navClass + ' material-nav';
      }
    };
  // Global site tag (gtag.js) - Google Analytics
  script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-121910512-1')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-121910512-1');

