extends navbarDefault

block content
	#content(style='margin-top: 10vh;')
	h2 Cookies
	p To make this site work properly, we sometimes place small data files called cookies on your device. Most big websites do this too.

	h3 War are cookies?
	p A cookie is a small text file that a website saves on your computer or mobile device when you visit the site. It enables the website to remember your actions and preferences (such as login, language, font size and other display preferences) over a period of time, so you don’t have to keep re-entering them whenever you come back to the site or browse from one page to another.

	h3 How do we use cookies?
	p A number of our pages use cookies to remember:
	ul
		li your display preferences, such as contrast colour settings or font size
		li your name and email to display the correct data to you
		li if you have agreed (or not) to our use of cookies on this site
	p Also, some videos embedded in our pages use a cookie to anonymously gather statistics on how you got there and what videos you visited.
	p Enabling these cookies is not strictly necessary for the website to work but it will provide you with a better browsing experience. You can delete or block these cookies, but if you do that some features of this site may not work as intended.
	p The cookie-related information is not used to identify you personally and the pattern data is fully under our control. These cookies are not used for any purpose other than those described here.

	h3 How to control cookies
	p You can control and/or delete cookies as you wish – for details, see aboutcookies.org. You can delete all cookies that are already on your computer and you can set most browsers to prevent them from being placed. If you do this, however, you may have to manually adjust some preferences every time you visit a site and some services and functionalities may not work.