extends navbarDefault

block content

    .container-fluid
      h2 Service Dashboard
      .row
        .col-xs-12
          .panel.panel-default
            .panel-body
              .col-xs-9
                h4 Youth Accommodation Support Service
                h5 Victoria Park
              .col-xs-3
                .pull-right
                  h4
                    | Available Beds:&nbsp;
                    span.badge.badge-success 7
      .row
        .col-xs-12.col-md-7
          .thumbnail
            .panel-body.scroll
              .mid-width.wrapItems
                h4 Vacancies
                .pull-right
                  .dropdown
                    button#menu1.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
                      | Filter by
                      span.caret
                    ul.dropdown-menu(role='menu', aria-labelledby='menu1')
                      li(role='presentation')
                        a(role='menuitem', href='#') All
                      li(role='presentation')
                        a(role='menuitem', href='#') Male
                      li(role='presentation')
                        a(role='menuitem', href='#') Female
                      li(role='presentation')
                        a(role='menuitem', href='#') Both
                      li(role='presentation')
                        a(role='menuitem', href='#') Child
                      li(role='presentation')
                        a(role='menuitem', href='#') Disability
                ul.nav.nav-tabs
                  li.active
                    a(data-toggle='tab', href='#vacancies') Vacancies
                  li
                    a(data-toggle='tab', href='#tags') Tags
                  li
                    a(data-toggle='tab', href='#beds') Beds
                  li
                    a(data-toggle='tab', href='#edit') Edit
                .tab-content
                  #vacancies.tab-pane.fade.in.active
                    h3 Vacancies
                    table.table
                      thead
                        tr
                          th Description
                          th M
                          th D
                          th C
                      tbody
                        tr
                          td Placeholder
                          td 1
                          td 1
                          td 0
                        tr.active
                          td Placeholder
                          td 1
                          td 0
                          td 3
                        tr
                          td Placeholder
                          td 0
                          td 0
                          td 0
                        tr.active
                          td Placeholder
                          td 0
                          td 1
                          td 0
                        tr
                          td Placeholder
                          td 0
                          td 2
                          td 0
                        tr.active
                          td Placeholder
                          td 0
                          td 0
                          td 1
                        tr
                          td Placeholder
                          td 0
                          td 0
                          td 0
                        tr.active
                          td Placeholder
                          td 1
                          td 1
                          td 1
                        tr
                          td Placeholder
                          td 4
                          td 1
                          td 2
                        tr.active
                          td Placeholder
                          td 1
                          td 1
                          td 1
                        tr
                          td Placeholder
                          td 0
                          td 0
                          td 1
                        tr.active
                          td Placeholder
                          td 7
                          td 0
                          td 0
                        tr
                          td Placeholder
                          td 1
                          td 0
                          td 3
                        tr.active
                          td Placeholder
                          td 1
                          td 0
                          td 0
                  #tags.tab-pane.fade
                    h3 Tags
                    p
                      | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                  #beds.tab-pane.fade
                    h3 Beds
                    p
                      | Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                  #edit.tab-pane.fade
                    h3 Edit
                    p
                      | Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        .col-xs-12.col-md-5
          .thumbnail
            .panel-body.scroll
              .mid-width.wrapItems
                h4 Requests
                table.table
                  thead
                    tr
                      th Name
                      th Mobile Number
                      th Date Contacted
                  tbody
                    tr
                      td Christine T
                      td
                        a(href='') 0491 570 156
                      td 4 hours ago
                    tr.active
                      td Johnny S
                      td
                        a(href='') 0491 570 156
                      td 10 hours ago
                    tr
                      td Brenda W
                      td
                        a(href='') 0491 570 156
                      td 4 days ago
                    tr.active
                      td Sara W
                      td
                        a(href='') 0491 570 156
                      td 2 weeks ago
                    tr
                      td Diana H
                      td
                        a(href='') 0491 570 156
                      td 2018/01/4
                    tr.active
                      td Billy G
                      td
                        a(href='') 0491 570 156
                      td 2018/01/2
                    tr
                      td Adam G
                      td
                        a(href='') 0491 570 156
                      td 2018/01/1
                    tr.active
                      td Doris H
                      td
                        a(href='') 0491 570 156
                      td 2017/12/21
                    tr
                      td Bobby N
                      td
                        a(href='') 0491 570 156
                      td 2017/12/15
                    tr.active
                      td Steven C
                      td
                        a(href='') 0491 570 156
                      td 2017/12/4
                    tr
                      td Patrick H
                      td
                        a(href='') 0491 570 156
                      td 2017/11/22
                    tr.active
                      td Edward T
                      td
                        a(href='') 0491 570 156
                      td 2017/11/8
                    tr
                      td Lisa S
                      td
                        a(href='') 0491 570 156
                      td 2017/11/3
                    tr.active
                      td Rose E
                      td
                        a(href='') 0491 570 156
                      td 1650 BC
        .col-xs-12
          .thumbnail
            .panel-body.scroll
              h2 Data
