extends navbarCentre

block content
    
    include _includes/submitModal
    
    #banner.page-header
        .row
            .col-md-8
                h2
                    | Do you have a bed available?
    form
        .form-group
            .row
                .col-md-1.col-xs-3.text-center
                    label(for="hasBeds")
                        | Yes
                    .spacer-sm
                        input(type="checkbox", value="", id="hasBeds")
                        
                .col-md-1.col-xs-3(align="center")
                    label(for="maleBeds")
                        | Male
                    input.form-control(style="width: 3.5em;", type="text", id="maleBeds")
                .col-md-1.col-xs-3(align="center")
                    label(for="femaleBeds")
                        | Female
                    input.form-control(style="width: 3.5em;", type="text", id="femaleBeds")
                .col-md-1.col-xs-3(align="center")
                    label(for="otherBeds")
                        | Unspecified
                    input.form-control(style="width: 3.5em;", type="text", id="otherBeds")
                .col-md-1(align="center")
                    label(for="totalBeds")
                        | Total
                    #totalBeds.form-control-static 0
                .col-md-7.col-xs-12
                    label(for="description")
                        | Description
                    textarea.form-control(type="text", rows=5, id="description")
            .row
                .col-xs-12
                    .spacer-sm
                    .text-right
                        a(href="#", data-toggle="modal", data-target="#servicesubmitmodal")
                            button(type="submit").btn.btn-default Submit
