extends navbarDefault

block content
  include _includes/addBedModal
  include _includes/deleteLogoModal
  include _includes/imageThumbnail
  include _includes/deleteImageModal
  include _includes/smsModal
  include _includes/emailModal

  .page-header-sm
    .container
        h1.bang #{service.name}
    .container
      .row
        .col-xs-12
          p#uri(style='display: none') #{service.uri}
            
  .container-fluid
    ul.nav.nav-tabs.nav-justified.service-tabs
      li.active.text-center
        a(data-toggle='tab', href='#bedManagement')
          | Bed
          br
          | Management
      li.text-center
        a(data-toggle='tab', href='#serviceProfile')
          | Service
          br
          | Profile
      li.text-center
        a(data-toggle='tab', href='#bedsAvaliable')
          | Beds
          br
          | Available
    .tab-content.service-tab-content
      #bedManagement.tab-pane.fade.in.active
        .container-fluid
          .row(style='margin-top: 20px;')
            .col-xs-12.level
              h3 Our Bed Count
              a( href='#', data-toggle='modal', data-target='#editBedModal', style='margin-left: 1em;')#beds Edit Beds
                i.material-icons.btn-other(style='font-size: inherit; color: inherit;') edit
            .col-xs-12
              form(action='/service/dashboard/'+service.uri+'/beds/update', method='post')#updateBeds
                img.img-responsive.center-block#spinnerLoadBeds(src='/images/loading_spinner.gif', style='display: none')
                .form-group
                input.btn.btn-secondary.pull-right(type='submit', name='Submit', value='Update Availability')
                img.img-responsive.pull-right#spinnerUpdateBeds(src='/images/loading_spinner.gif', style='display: none; max-height: 42px')
                
          .row
            .col-xs-12
              h3 Our Open Requests
            .col-xs-12
              .panel
                .panel-body
                  .row.text-center
                    .col-xs-2
                      h4 GENDER
                    .col-xs-3
                      h4 CONTACT
                    .col-xs-3
                      h4 NAME
                    .col-xs-1
                      h4 AGE
                    .col-xs-2
                      h4 CONTACTED
            .col-xs-12
              form(action='/service/dashboard/'+service.uri+'/requests/update', method='post')#updateRequests
                img.img-responsive.center-block#spinnerLoadRequests(src='/images/loading_spinner.gif', style='display: none')
                .form-group
                input.btn.btn-secondary.pull-right(type='submit', name='Submit', value='Update Requests')
                img.img-responsive.pull-right#spinnerUpdateRequests(src='/images/loading_spinner.gif', style='display: none; max-height: 42px')
          .row
            .col-xs-12
              h3 Our Closed Requests
            .col-xs-12
              .panel
                .panel-body
                  .row.text-center
                    .col-xs-2
                      h4 GENDER
                    .col-xs-3
                      h4 CONTACT
                    .col-xs-3
                      h4 NAME
                    .col-xs-1
                      h4 AGE
                    .col-xs-2
                      h4 Closed Date
            .col-xs-12
              form(action='/service/dashboard/'+service.uri+'/closed_requests/reopen', method='post')#closedRequests
                img.img-responsive.center-block#spinnerLoadRequestsClosed(src='/images/loading_spinner.gif', style='display: none')
                .form-group
          .spacer-sm
      #serviceProfile.tab-pane.fade.in
        .container-fluid(style='padding: 15px;')
          .spacer-xs
          img.img-responsive.center-block#spinnerLoadProfile(src='/images/loading_spinner.gif', style='display: none')
          form(action='', method='post', role='form', id='addServiceForm')
            .row
              .form-group
                .col-xs-12.col-sm-7(style='margin-bottom: 15px;')
                  label(for='serveName') SERVICE NAME
                  input(type='text', name='serveName', id='serveName', required='').form-control
                .col-xs-12.col-sm-5(style='margin-bottom: 15px;')
                  label(for='serveType') SERVICE TYPE
                  select.form-control(name='serveType', id='serveType', style='padding: 6px 10px 6px 4px;', required='')
                    option(value='crisis') CRISIS
                    option(value='transitional') TRANSITIONAL
                    option(value='long') LONG TERM
              .form-group
                .col-xs-12
                  label LOCATION
                .col-xs-12.col-sm-5(style='margin-bottom: 15px;')
                  input(type='text', name='serveSuburb', id='serveSuburb', required='', placeholder='SUBURB', autocomplete='on').form-control
                .col-xs-6.col-sm-3(style='margin-bottom: 15px;')
                  select.form-control(name='serveState', id='serveState', style='padding: 6px 10px 6px 4px;', required='')
                    option(hidden='true') STATE
                    option ACT
                    option NSW
                    option QLD
                    option SA
                    option NT
                    option TAS
                    option VIC
                    option WA
                .col-xs-6.col-sm-4(style='margin-bottom: 15px;')
                  input(type='text', name='servePostcode', id='servePostcode', required='', placeholder='POSTCODE', pattern="\\d{4}").form-control
              .form-group
                .col-xs-12.col-sm-8
                  .row
                    .col-xs-12
                      label AGE RANGE 
                    .col-xs-6(style='margin-bottom: 15px;')
                      select.form-control(name='serveMinAge', id='serveMinAge', style='padding: 6px 10px 6px 4px;', required='')
                        option(hidden='true') MIN. AGE
                        option 15
                        option 16
                        option 17
                        option 18
                        option 19
                        option 20
                        option 21
                        option 22
                        option 23
                        option 24
                        option 25
                    .col-xs-6(style='margin-bottom: 15px;')
                      select.form-control(name='serveMaxAge', id='serveMaxAge', style='padding: 6px 10px 6px 4px;', required='')
                        option(hidden='true') MAX. AGE
                        option 15
                        option 16
                        option 17
                        option 18
                        option 19
                        option 20
                        option 21
                        option 22
                        option 23
                        option 24
                        option 25
                .col-xs-12.col-sm-4(style='margin-bottom: 15px;')
                  label(for='serveStayLength') MAX. STAY LENGTH
                  select.form-control(name='serveStayLength', id='serveStayLength', style='padding: 6px 10px 6px 4px;', required='')
                    option(hidden='true') (in months)
                    option 1
                    option 3
                    option 6
                    option 9
                    option 12
                    option 15
                    option 18
                    option 21
                    option 24
            .row
              .form-group
                .col-xs-12
                  label SERVICE CONTACT INFORMATION
                .col-xs-12.col-sm-8(style='margin-bottom: 15px;')
                  input(type='email', name='serveEmail', id='serveEmail', placeholder='EMAIL', required='').form-control
                .col-xs-12.col-sm-4(style='margin-bottom: 15px;')
                  input(type='tel', name='servePhone', id='servePhone', placeholder='PHONE NUMBER',required='').form-control
            .row
              .col-xs-12.col-md-6
                .form-group
                  .row
                    .col-xs-12
                      label(for='serveDesc') BRIEF DESCRIPTION
                      textarea(rows="5", name='serveDesc',id='serveDesc', spellcheck="true", placeholder="Enter Description").form-control
                .form-group
                  .row
                    .col-xs-12
                      label(for='serveAbout') ABOUT
                      textarea(rows="5", name='serveAbout',id='serveAbout', spellcheck="true", placeholder="Enter Description").form-control
                .form-group
                  .row
                    .col-xs-12
                      label(for='serveRules') HOUSE EXPECTATIONS
                      textarea(rows="5", name='serveRules',id='serveRules', spellcheck="true", placeholder="Enter Description").form-control
                .form-group
                .row
                  .col-xs-12
                    label(for='serveRules') THANK YOU MESSAGE FOR APPLICANTS
                    textarea(rows="5", name='thankyouMessage',id='thankyouMessage', spellcheck="true", placeholder="Enter Description").form-control
              .col-md-6.col-xs-12
                .form-group#serveAmenitiesForm
                  label AMENITIES
                  .row
                    .col-xs-12
                      .well
                        .row
                          .form-inline
                            .col-xs-1.col-xs-offset-1(style='padding: 0px;')
                              i.material-icons.sec-color tv
                            .col-xs-9(style='padding-top: 3px;')
                              label(for='TV') TV
                            .col-xs-1(style='padding: 0px; margin-top: 2px;')
                              input#TV(type="checkbox", name="TV")
                        .row
                          .form-inline
                            .col-xs-1.col-xs-offset-1(style='padding: 0px;')
                              i.material-icons.sec-color local_laundry_service
                            .col-xs-9(style='padding-top: 3px;')
                              label(for='Washing') LAUNDRY/WASHER
                            .col-xs-1(style='padding: 0px; margin-top: 2px;')
                              input#WASHER(type="checkbox", name="WASHER")
                        .row
                          .form-inline
                            .col-xs-1.col-xs-offset-1(style='padding: 0px;')
                              i.material-icons.sec-color wifi
                            .col-xs-9(style='padding-top: 3px;')
                              label(for='WIFI') WIFI
                            .col-xs-1(style='padding: 0px; margin-top: 2px;')
                              input#WIFI(type="checkbox", name="WIFI")
                        .row(style='margin-bottom: 3px;')
                          .col-xs-1.col-xs-offset-1(style='padding: 0px;')
                            i.material-icons.sec-color wc
                          .col-xs-9(style='padding-top: 3px;')
                            label BATHROOM
                          .form-inline
                            .col-xs-9.col-xs-offset-2(style='padding-left: 30px;')
                              span.small.bold
                                label(for='BATHSHARED') SHARED
                            .col-xs-1(style='padding: 0px; margin-top: 2px;')
                              input#BATHSHARED(type="radio", name="BATH", value='shared')
                          .form-inline
                            .col-xs-9.col-xs-offset-2(style='padding-left: 30px;')
                              span.small.bold PRIVATE
                            .col-xs-1(style='padding: 0px; margin-top: 2px;')
                              input#BATHPRIVATE(type="radio", name="BATH", checked='', value='private')
                        .row
                          .form-inline
                            .col-xs-1.col-xs-offset-1(style='padding: 0px;')
                              i.material-icons.sec-color smoking_rooms
                            .col-xs-9(style='padding-top: 3px;')
                              label SMOKING
                            .col-xs-1(style='padding: 0px; margin-top: 2px;')
                              input#SMOKE(type="checkbox", name="SMOKE")
                        .row
                          .form-inline
                            .col-xs-1.col-xs-offset-1(style='padding: 0px;')
                              i.material-icons.sec-color ac_unit
                            .col-xs-9(style='padding-top: 3px;')
                              label AIR-CONDITIONING
                            .col-xs-1(style='padding: 0px; margin-top: 2px;')
                              input#AIRCON(type="checkbox", name="AIRCON")
                        .row
                          .form-inline
                            .col-xs-1.col-xs-offset-1(style='padding: 0px;')
                              i.material-icons.sec-color videogame_asset
                            .col-xs-9(style='padding-top: 3px;')
                              label GAMES/CONSOLE
                            .col-xs-1(style='padding: 0px; margin-top: 2px;')
                              input#GAMES(type="checkbox", name="GAMES")
                        .row
                          .form-inline
                            .col-xs-1.col-xs-offset-1(style='padding: 0px;')
                              i.material-icons.sec-color fitness_center
                            .col-xs-9(style='padding-top: 3px;')
                              label GYM
                            .col-xs-1(style='padding: 0px; margin-top: 2px;')
                              input#GYM(type="checkbox", name="GYM")
                        .row
                          .form-inline
                            .col-xs-1.col-xs-offset-1(style='padding: 0px;')
                              i.material-icons.sec-color local_library
                            .col-xs-9(style='padding-top: 3px;')
                              label STUDY
                            .col-xs-1(style='padding: 0px; margin-top: 2px;')
                              input#STUDY(type="checkbox", name="STUDY")
                        .row
                          .form-inline
                            .col-xs-1.col-xs-offset-1(style='padding: 0px;')
                              i.material-icons.sec-color local_dining
                            .col-xs-9(style='padding-top: 3px;')
                              label KITCHEN
                            .col-xs-1(style='padding: 0px; margin-top: 2px;')
                              input#KITCHEN(type="checkbox", name="KITCHEN")
                        .row
                          .form-inline
                            .col-xs-1.col-xs-offset-1(style='padding: 0px;')
                              i.material-icons.sec-color phone
                            .col-xs-9(style='padding-top: 3px;')
                              label PHONE
                            .col-xs-1(style='padding: 0px; margin-top: 2px;')
                              input#PHONE(type="checkbox", name="PHONE")
                        .row
                          .form-inline
                            .col-xs-1.col-xs-offset-1(style='padding: 0px;')
                              i.material-icons.sec-color schedule
                            .col-xs-9(style='padding-top: 3px;')
                              label CURFEW
                            .col-xs-1(style='padding: 0px; margin-top: 2px;')
                              input#CURFEW(type="checkbox", name="CURFEW")
                        .row
                          .form-inline
                            .col-xs-1.col-xs-offset-1(style='padding: 0px;')
                              i.material-icons.sec-color lock
                            .col-xs-9(style='padding-top: 3px;')
                              label SECURE
                            .col-xs-1(style='padding: 0px; margin-top: 2px;')
                              input#SECURE(type="checkbox", name="SECURE")
                        .row
                          .form-inline
                            .col-xs-1.col-xs-offset-1(style='padding: 0px;')
                              i.material-icons.sec-color local_florist
                            .col-xs-9(style='padding-top: 3px;')
                              label OUTDOOR/GARDEN
                            .col-xs-1(style='padding: 0px; margin-top: 2px;')
                              input#OUTDOOR(type="checkbox", name="OUTDOOR")
            .row
              .col-xs-12
                .row#loadingPhotoUploadRow
                  h5.text-center LOADING PHOTOS
                  img.img-responsive.center-block#loadingPhotos(src='/images/loading_spinner.gif')
                .row#photoUploadRow
                  .col-xs-12
                    .alert.alert-danger#alertBox(style='display: none')
                  .col-xs-12
                    .row
                      label LOGO
                      #logoSpace
                    .row
                      label PHOTOS
                      #photoSpace
                      
            .row
              .col-xs-12.text-right
                input.btn.btn-primary.save-btn-fixed(type='submit', value='SAVE CHANGES')
      #bedsAvaliable.tab-pane.fade.in
        .container-fluid
          img.img-responsive.center-block#spinnerBedsAvailable(src='/images/loading_spinner.gif', style='display: none')        
          .row
            .col-xs-12
              h3.text-center CRISIS CARE
              table.table#crisis-table
                tr
                  th SERVICES
                  th TOTAL
                  th MALE
                  th FEMALE
                  th EITHER
                  th NUMBER
          .row
            .col-xs-12
              h3.text-center TRANSITIONAL
              table.table#transitional-table
                tr
                  th SERVICES
                  th NUMBER

    
  script(src='/javascripts/service.js')
  script(src='/javascripts/bedsAvailable.js')

  style.
    .level {
      display: flex;
      align-items: baseline;
    }
    .hover-panel:hover {
      cursor: pointer;
      opacity: 0.5;
      color: rgb(51, 51, 51);
    }
    .hover-panel {
      color: rgb(51, 51, 51)
    }
    .save-btn-fixed {
      position: fixed;
      bottom: 2rem;
      right: 2rem;
    }
    .table-panel {
      box-shadow: 0px 1px 6.9px 0.1px rgba(0, 0, 0, 0.16);
      height: 10vh;
      min-height: 80px;
      margin-bottom: 20px;
      text-align: center;
    }
    .table {
      border-spacing: 0 20px;
      border-collapse: separate;
    }
    .table th {
      text-align: center;
      border-top: none !important;
    }
    #beds, #beds > i {
      color: #333333;
    }
    #beds:hover {
      color: #cc0066;
    }
    select, textarea, .thumbnail {
      border-radius: 3px;
      box-shadow: 0px 1px 6.9px 0.1px rgba(0, 0, 0, 0.16) !important;
      background-color: #ffffff;
      border: solid 2px #ebebeb !important;
    }
    .well {
      border-radius: 3px;
      box-shadow: 0px 1px 6.9px 0.1px rgba(0, 0, 0, 0.16) !important;
      background-color: #ffffff;
      border: solid 2px #ebebeb !important;
    }
    #serveDesc, #serveAbout, #serveRules { resize: none; }
