extends navbarDefault

block content
    
    .page-header-sm
        .container
                h1 #{service.name}
        .container
            .row
                .col-sm-8.col-xs-12
                    h2 #{service.address.suburb}
                .col-sm-4.col-xs-12
                    h2
                        | Available Beds:&nbsp;
                        span.badge.badge-success #{numAvailableBeds}
                        
    .container
        ul.nav.nav-tabs.nav-justified.service-tabs
          li.active.text-center
            a(data-toggle='tab', href='#bedManagement') Our Beds
          li.text-center
            a(data-toggle='tab', href='#serviceProfile') Service Profile
          li.text-center
            a(data-toggle='tab', href='#bedsAvaliable') Other Services
        .tab-content.service-tab-content
            #bedManagement.tab-pane.fade.in.active
                .container-fluid
                    .row
                        .col-xs-12.col-md-6
                          h3 Our Bed Count
                            .panel-body.scroll
                              .mid-width.wrapItems
                                table.table
                                  tbody
                                    each bed in service.beds
                                        tr
                                          td Bed #{service.beds.indexOf(bed) + 1}
                                          td
                                            label.switch
                                              input(type='checkbox')
                                              span.slider.round
                                          td
                                            label.switch
                                              input(type='checkbox')
                                              span.slider.round
                                          td
                                            label.switch
                                              input(type='checkbox')
                                              span.slider.round
                        .col-xs-12.col-md-6
                            h3 Requests
                            .thumbnail
                              .panel-body.scroll
                                .mid-width.wrapItems
                                  table.table
                                    thead
                                      tr
                                        th
                                          | Name
                                          br
                                          | Status
                                        th
                                          | Mobile Number
                                          br
                                          | Email Address
                                        th Date Contacted
                                    tbody
                                      tr
                                        td
                                          | Christine T
                                          br
                                          | Female
                                        td
                                          a(href='') 0491 570 156
                                          br
                                          a(href='') someone@example.com
                                        td
                                          | 4 hours ago
                                      tr.active
                                        td Johnny S
                                        td
                                          a(href='') 0491 570 156
                                          br
                                          a(href='') someone@example.com
                                        td
                                          | 10 hours ago
                                      tr
                                        td
                                          | Brenda W
                                          br
                                          | Female
                                        td
                                          a(href='') 0491 570 156
                                          br
                                          a(href='') someone@example.com
                                        td
                                          | 4 days ago
            #serviceProfile.tab-pane.fade.in
                .container
                    h3 //TODO
            #bedsAvaliable.tab-pane.fade.in
                .container
                    h3 //TODO
