extends navbarDefault

block content
    #banner.page-header
      .container-fluid
        .row
          h2.bold Privacy Policy - HomeForNow
          h4
            span.bold Version date: 
            span May 16, 2018
        ol
          li
            a.anchor#section1
            span.bold Introduction
            p
              | Anglicare WA ABN 32797454970 (“
              span.bold we
              | ”, “
              span.bold our
              | ” and “
              span.bold us
              | ”) is committed to responsible privacy practices and to 
              | complying with the Privacy Principles contained in the Privacy 
              | Act 1988 (Cth) (“
              span.bold Privacy Act
              | ”) to the extent they apply to us.
            p
              | This Privacy Policy sets out our policies on the management of 
              | personal information including how we collect personal 
              | information, the purposes for which we use this information, and 
              | to whom this information is disclosed.
            p
              | We may change or update our Privacy Policy from time to time. 
              | At any time, the latest version of our Privacy Policy for 
              | HomeForNow is available from our website at 
              a(href='/terms_of_use') www.homefornow.org.au/terms_of_use
              | . 
          li
            a.anchor#section2
            span.bold What is personal information?
            p
              | In this Privacy Policy, “personal information” has the meaning
              | set out in the Privacy Act. Essentially, personal information 
              | is information or an opinion about an individual who is 
              | reasonably identifiable.
          li
            a.anchor#section3
            span.bold What types of personal information do we collect?
            p
              | The types of personal information we collect from you depend 
              | on the circumstances in which the information is collected.
            p
              | We may collect contact details including your name, address, 
              | email address, phone numbers and your date of birth / age. 
              | We may also collect answers you provide to questions we ask 
              | and other information in relation to your dealings with us, 
              | including gender, current location and whether you have children.
            p
              | In addition to the types of personal information identified 
              | above, we may collect personal information as otherwise 
              | permitted or required by law.
          li
            a.anchor#section4
            span.bold How do we collect your personal information?
            p
              | We collect personal information in a number of ways. The most 
              | common way we collect your personal information is via our 
              | website or when you deal with us online (including through our 
              | social media pages).
          li
            a.anchor#section5
            span.bold For what purposes do we collect, use and disclose your personal information?
            p
              | The purposes for which we use and disclose your personal 
              | information will depend on the circumstances in which we 
              | collect it.  Whenever practical we endeavour to inform you why 
              | we are collecting your personal information, how we intend to 
              | use that information and to whom we intend to disclose it at 
              | the time we collect your personal information.
            p
              | We may use or disclose your personal information:
            ul
              li
                | for the purposes for which we collected it (and related 
                | purposes which would be reasonably expected by you);
              li
                | for other purposes to which you have consented; and
              li
                | as otherwise authorised or required by law.
            p
              | In general we collect, use and disclose your personal 
              | information so that we can do business together and for 
              | purposes connected with our business operations.
            p
              | Some of the specific purposes for which we collect, use and 
              | disclose personal information are:
            ul
              li
                | to provide external services with your contact details on 
                | your request
              li
                | to respond to you if you have requested information 
                | (including via our websites or via an email or other 
                | correspondence you send to us);
              li
                | to provide services to you;
              li
                | to enable you to use our apps and other applications that 
                | you download;
              li
                | to improve our services;
              li
                | to enable you to use our apps and other applications that 
                | you download;
              li
                | to improve our services;
              li
                | to address any issues or complaints that we or you have 
                | regarding our relationship; and
              li
                | to contact you regarding the above, including via electronic 
                | messaging such as SMS and email, by mail, by phone or in any 
                | other lawful manner.
          li
            a.anchor#section6
            span.bold What happens if you don't provide personal information?
            p
              | Generally, you have no obligation to provide to us any personal 
              | information requested by us. However, if you choose to withhold 
              | requested personal information, we may not be able to do 
              | provide you with the products and services requested.
          li
            a.anchor#section7
            span.bold To whom do we disclose personal information?
            p
              | We may disclose your personal information to third parties in 
              | connection with the purposes described in 
              span
                a(href='#section5') section 5
              |  of this Privacy Policy.
            p
              | This may include disclosing your personal information to the 
              | following types of third parties:
            ul
              li
                | our employees and related bodies corporate;
              li
                | our contractors and other third parties that provide goods 
                | and services to us (including website and data hosting 
                | providers, and other suppliers);
              li
                | our accountants, insurers, lawyers, auditors and other 
                | professional advisers and agents;
              li
                | in the unlikely event that we or our assets may be acquired 
                | or considered for acquisition by a third party, that third 
                | party and its advisors; 
              li
                | third parties that require the information for law 
                | enforcement or to prevent a serious threat to public safety; 
                | and
              li
                | otherwise as permitted or required by law.
            p
              | Where we disclose your personal information to third parties 
              | we will use reasonable efforts to ensure that such third 
              | parties only use your personal information as reasonably 
              | required for the purpose we disclosed it to them and in a 
              | manner consistent with the Privacy Principles under the Privacy 
              | Act. 
            p
              | If you post information to public parts of our websites or to 
              | our social media pages, you acknowledge that such information 
              | (including your personal information) may be available to be 
              | viewed by the public.  You should use discretion in deciding 
              | what information you upload to such sites.
          li
            a.anchor#section8
            span.bold Does personal information leave Australia?
            p
              | We do not generally disclose your personal information 
              | outside of Australia.  Except in some cases where we may rely 
              | on an exception under the Privacy Act, if we do disclose 
              | personal information to overseas recipients, we will take 
              | reasonable steps to ensure that such overseas recipients do not 
              | breach the Privacy Principles in the Privacy Act in relation to 
              | such information.
          li
            a.anchor#section9
            span.bold How do we protect personal information?
            p
              | We will take reasonable steps to keep any personal information 
              | we hold about you secure. However, except to the extent 
              | liability cannot be excluded due to the operation of statute, 
              | we exclude all liability (including in negligence) for the 
              | consequences of any unauthorised access to, disclosure of, 
              | misuse of or loss or corruption of your personal information. 
              | Nothing in this Privacy Policy restricts, excludes or modifies 
              | or purports to restrict, exclude or modify any statutory 
              | consumer rights under any applicable law including the 
              i Competition and Consumer Act 2010 (Cth)
              | .
            p
              | Please notify us immediately if you become aware of any breach 
              | of security.
          li
            a.anchor#section10
            span.bold Accuracy of the personal information we hold
            p
              | We try to maintain your personal information as accurately as 
              | reasonably possible. We rely on the accuracy of personal 
              | information as provided to us both directly (from you) and 
              | indirectly.
            p
              | We encourage you to contact us if the personal information we 
              | hold about you is incorrect or to notify us of a change in your 
              | personal information. Our contact details are set out in 
              span.bold section 15
              |  of this Privacy Policy.
          li
            a.anchor#section11
            span.bold Links, cookies and use of our websites and applications
            p
              | Our website may contain links to other sites. This Privacy 
              | Policy applies to our website and not any linked sites which 
              | are not operated or controlled by us. We encourage you to read 
              | the privacy policies of each website that collects your 
              | personal information.
            p
              | We may use “cookies” and similar technology on our websites and 
              | in other technology applications. The use of such technologies 
              | is an industry standard, and helps to monitor the effectiveness 
              | of advertising and how visitors use our websites/applications. 
              | We may use such technologies to generate statistics, measure 
              | your activity, improve the usefulness of our 
              | websites/applications and to enhance the “customer” experience.
          li
            a.anchor#section12
            span.bold How can you access and correct personal information we hold about you?
            p
              | You may seek access to personal information which we hold about 
              | you by contacting us as described in 
              span
                a(href="#section14") section 14 
              |  of this Privacy Policy.  We will provide access to that 
              | information in accordance with the Privacy Act, subject to 
              | certain exemptions which may apply.  We may require that the 
              | person requesting access provide suitable identification and 
              | where permitted by law we may charge an administration fee for 
              | granting access to your personal information.
            p
              | If you become aware that any personal information we hold about 
              | you is incorrect or if you wish to update your information, 
              | please contact us (see 
              span
                a(href="#section14") section 14
              |  of this Privacy Policy).
          li
            a.anchor#section13
            span.bold Queries, comments and complaints about our handling of personal information
            p
              | If you have any questions, comments or complaints about our 
              | collection, use or disclosure of personal information, or if 
              | you believe that we have not complied with this Privacy Policy 
              | or the Privacy Act, please contact us (see 
              span
                a(href="#section14") section 14
              |  of this Privacy Policy).
            p
              | When contacting us please provide as much detail as possible in 
              | relation to your question, comment or complaint.
            p
              | We will take any privacy complaint seriously and any complaint 
              | will be assessed with the aim of resolving any issue in a 
              | timely and efficient manner.  We request that you cooperate 
              | with us during this process and provide us with any relevant 
              | information that we may need.
            p
              | If you are not satisfied with the outcome of our assessment of 
              | your complaint, you may wish to contact the Office of the 
              | Australian Information Commissioner.
          li
            a.anchor#section14
            span.bold How can you contact us?
            p
              | Please address all privacy complaints to:
            p
              | &emsp;Governance, Quality and Risk Manager 
              br
              | &emsp;23 Adelaide Terrace, East Perth 6005
            p &emsp;OR
            p
              | &emsp;
              a info@anglicarewa.org.au
            p
              | If you wish to seek access to or correct or update any personal 
              | information we hold about you, you can also contact us using 
              | the contact details listed above.
              
              
    style.
      ol {
        font-size: 16px;
      }
      ul {
        margin-bottom: 10px !important;
        list-style-type: disc;
      }
      a.anchor {
        display: block;
        position: relative;
        top: -70px;
        visibility: hidden;
      }
