.modal.fade(id="editBedModal",role="dialog")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button(type="button",data-dismiss="modal").close &times;
        h4.modal-title OUR BEDS
      .modal-body
        form(action='/service/dashboard/'+service.uri+'/beds/update/', method='post')#bedForm
          img.img-responsive.center-block#spinnerAddBeds(src='/images/loading_spinner.gif', style='display: none')
          .form-group#bedList
          .form-group.text-right
            a.btn.btn-secondary.btn-sm(href='#')#addBed Add Bed 
              i.material-icons.btn-other(style='font-size: inherit;') add
          .form-group.text-right
            input.btn.btn-primary.btn-lg(type="submit", value="Confirm")
            img.img-responsive.pull-right#spinnerConfirmBeds(src='/images/loading_spinner.gif', style='display: none; max-height: 42px')
