.modal.fade(id="editBedModal",role="dialog")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button(type="button",data-dismiss="modal").close &times;
        h4.modal-title OUR BEDS
      .modal-body
        form(action='/service/dashboard/'+service.uri+'/beds/update/', method='post')#bedForm
          .form-group
            a(href='#')#addBed
              i.material-icons.btn-other add_circle_outline
          img.img-responsive.center-block#spinnerAddBeds(src='/images/loading_spinner.gif', style='display: none')
          .form-group#bedList
          a(href='#')#removeBed
            i.material-icons.btn-other remove_circle_outline
          input.pull-right(type="submit", value="Confirm").btn.btn-default
          img.img-responsive.pull-right#spinnerConfirmBeds(src='/images/loading_spinner.gif', style='display: none; max-height: 42px')
