mixin contactModal(serviceName, serviceId, available, phoneNumber, uri, thankyouMessage, logoUrl)
    .modal.fade(id="contactmodal"+uri,role="dialog")
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    button(type='button', data-dismiss='modal').close &times;
                        //- a(data-toggle='modal', href='#numbermodal')
                        //-     button(type='button', data-dismiss='modal').btn.btn-default Calls us
                    if logoUrl
                        img.img.img-responsive.img-squared(src=logoUrl)                    
                    else
                        img.img.img-responsive.img-squared(src='/images/placeholder-image.png')
                .modal-body
                    form
                        .form-group
                            label(for="number") What's the best number to get you on
                            input.form-control(type="tel", name="number", minlength='10')
                        .text-center
                            label - and/or - 
                        .form-group
                            label(for="email") Email
                            input.form-control(type="email", name="email")
                        .form-group
                            input(type="hidden", name="serviceId", value=serviceId)
                        .form-group
                            .text-right                                
                                a(data-toggle="modal", href="#waitmodal"+uri)
                                    button(data-dismiss="modal", onclick='return submitPhoneNumber(this.parentNode.parentNode.parentNode.parentNode)').btn.btn-primary Submit
    .modal.fade(id="waitmodal"+uri,role="dialog")
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    button(type='button', data-dismiss='modal').close &times;
                    //- span.pull-left
                    //-     a(data-toggle="modal", href="#numbermodal"+uri)
                    //-         button(type="button", data-dismiss="modal").close
                    //-             span.glyphicon.glyphicon-arrow-left
                        //- a(data-toggle='modal', href='#numbermodal')
                        //-     button(type='button', data-dismiss='modal').btn.btn-default Calls us
                    if logoUrl
                        img.img-responsive.img-squared(src=logoUrl)
                    else
                        img.img.img-responsive.img-squared(src='/images/placeholder-image.png')
                .modal-body
                    h4 Thank you
                    if thankyouMessage
                        p #{thankyouMessage}
                    else
                        | We will get back to you soon
