.modal.fade(id='contact-us-modal',role='dialog')
  .modal-dialog.modal-md
    .modal-content
      .modal-header
        button(type='button',data-dismiss='modal').close &times;
        h3.bang.sec-color.modal-title Contact Us
      .modal-body
        iframe.airtable-embed(src="https://airtable.com/embed/shrXxG6Pok1MxCbsO?backgroundColor=pink", frameborder='0', onmousewheel='', width='100%', height='533', style='background:transparent; border: 1px solid #ccc;')
