.modal.fade(id='imagesmodal',role='dialog')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                button(type='button',data-dismiss='modal').close &times;
                h4.modal-title Edit Profile Images
            .modal-body
              .row
                .col-lg-12
                  if name != null
                    h3 Images for #{name}
                  else 
                    h3 Images
              .row
                .col-xs-10
                  | Images uploaded: 
                  if images != null
                    span.badge.badge-primary#random #{images.length}/6
                  else
                    span.badge.badge-primary#random 0/6
                .col-xs-2
                  form(action="/service/dashboard/profile/" + name + "/add", method="post", id="formAdd", enctype="multipart/form-data")
                    label.btn.btn-success
                      | Add 
                      input(type='file', hidden='', id="fileAdd")
              if images != null && images.length > 0
                .row.list-group
                  -var index = 1
                  for image in images
                    .item.col-xs-12.col-sm-6.col-md-4
                      .thumbnail
                        img.img-responsive.group.list-group-image(src=image, alt="Image " + index++)
                        .caption
                          .row.text-center
                            .col-xs-6
                              a.btn.btn-error.btn-sm Edit
                            .col-xs-6
                              a.btn.btn-danger.btn-sm Delete
              else
                h5.text-center There are currently no images
script.
  document.getElementById("fileAdd").onchange = function() {
    document.getElementById("formAdd").submit();
  };
