mixin inDevNotifModal()
	.modal.fade(id="inDevNotifModal",role="dialog")
			.modal-dialog
					.modal-content
							.modal-header
								button(type='button', data-dismiss='modal').close &times;									
							.modal-body
								h3 Thank you for using our app. Please note that it is still in active development if you have
								p Here are some numbers to call if you need help
								.row
									.col-xs-6
										h3.bold='Entry Point'
										h4.bold.sec-color.
											6496 0001 </br>
											1800 124 684
									.col-xs-6
										h3.bold='Crisis Care'
										h4.bold.sec-color.
											9223 1111 </br>
											1800 199 008
								button.btn.btn-primary(data-dismiss="modal") Close