mixin inDevNotifModal()
	.modal.fade(id="inDevNotifModal",role="dialog")
		.modal-dialog.modal-md
			.modal-content
				.modal-body
					button(type='button', data-dismiss='modal').close &times;
					img.img-responsive(src="/images/logo.svg", style='max-height: 20vh; margin-bottom: 15px;')
					h3="Hi,"
					p.                  
						HomeForNow is still in testing but has now launched in beta!<br><br>
						The HomeForNow team<br>
						info@homefornow.org.au<br><br>
						If you need assistance, please call:<br>
					.row
						.col-xs-6
							h4.bold='Entry Point'
							h5.bold.sec-color.
								6496 0001 </br>
								1800 124 684
						.col-xs-6
							h4.bold='Crisis Care'
							h5.bold.sec-color.
								9223 1111 </br>
								1800 199 008

