.modal.fade(id="loginmodal",role="dialog")
    .modal-dialog.modal-md
        .modal-content
            .modal-header
                button(type="button",data-dismiss="modal").close &times;
                h4.modal-title Log In
            .modal-body
                form(action='/login', method='post', role='form', id="addReview")
                    .form-group
                        label(for="email") Email
                        input(type="email",placeholder="email").form-control#email
                    .form-group
                        label(for="pwd") Password
                        input(type="password").form-control#pwd
            .modal-footer
                button(type="submit").btn.btn-default Submit
