mixin outputRating(rating)
  - for (var i = 1; i <= rating; i++)
    .glyphicon.glyphicon-star
  - for (var i = rating; i < 5; i++)
    .glyphicon.glyphicon-star-empty

mixin formatDate(dateString)
  -var date = new Date(dateString);
  -var d = date.getDate();
  -var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
  -var m = monthNames[date.getMonth()];
  -var y = date.getFullYear();
  -var output = d + ' ' + m + ' ' + y;
  =output