mixin signupModal(title, route)
    .modal.fade(id=title,role='dialog')
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    button(type='button',data-dismiss='modal').close &times;
                    h2.modal-title= title
                    h3.modal-title Help us find somewhere close to you.
                .modal-body
                    form(action=route, method="post")
                        .form-group
                            label(for="fName") First Name
                            input(type="text", name="fName", placeholder="e.g. John").form-control#fName
                        .form-group
                            label(for="lName") Last Name
                            input(type="text", name="lName", placeholder="e.g. Doe").form-control#lName
                        .form-group
                            label(for="pwd") Age
                            select.form-control(name="age", placeholder="Select your age")#age
                                option Select your age
                                option 14
                                option 15
                                option 16
                                option 17
                                option 18
                                option 19
                                option 20
                                option 21
                                option 22
                                option 23
                                option 24
                                option 25
                        .form-group
                            .row
                                .col-xs-6
                                    select.form-control(name="gender", placeholder="Gender")#gender
                                        option(hidden='true') Gender
                                        option Male
                                        option Female
                                        option Other
                                .col-xs-6
                                    label.checkbox-inline
                                        input(type="checkbox", name="child", value="yes")#child
                                        | Parent with child?
                        .form-group
                            //- input(name="location", type="hidden", value="test location")
                            input(name="lat", type="hidden", id='latitude '+title)
                            input(name="long", type="hidden", id='longitude '+title)
                            input(type='hidden', name='lengthOfStay', id='los '+title)
                        .form-group
                            .text-center
                                input.btn.btn-default(type="submit", value="Submit")
                                
//- script(src='/javascripts/requests.js')
