.modal.fade(id="signupmodalshort",role="dialog")
    .modal-dialog.modal-sm
        .modal-content
            .modal-header
                button(type="button",data-dismiss="modal").close &times;
                h2.modal-title For Now.
                h3.modal-title Help us find somewhere close to you.
            .modal-body
                form(action='/locations/short_term', method="post", id="shortTermForm")
                    .form-group
                        label(for="fName") First Name
                        input(type="text", name="fName", placeholder="e.g. John").form-control#fName
                    .form-group
                        label(for="lName") Last Name
                        input(type="text", name="lName", placeholder="e.g. Doe").form-control#lName
                    .form-group
                        label(for="pwd") Age
                        select.form-control(name="age", placeholder="Select your age")#age
                            option Select your age
                            option 14
                            option 15
                            option 16
                            option 17
                            option 18
                            option 19
                            option 20
                            option 21
                            option 22
                            option 23
                            option 24
                            option 25
                    .form-group
                        .row
                            .col-xs-6
                                select.form-control(name="gender", placeholder="Gender")#gender
                                    option Gender
                                    option Male
                                    option Female
                                    option Other
                            .col-xs-6
                                label.checkbox-inline
                                    input(type="checkbox", name="child", value="yes")#child
                                    | Parent with child?
                    .form-group
                        input(name="location", type="hidden", value="test location")
                    .form-group
                        //input(type="submit", value="Submit")
                        button.btn.btn-default(name="Submit", type="button", onclick='return submitRequest(document.getElementById("shortTermForm"))') Submit
                //.text-center
                    //a(href="/locations/short_term")
                        //button.btn.btn-default Submit

.modal.fade(id="signupmodallong",role="dialog")
    .modal-dialog.modal-sm
        .modal-content
            .modal-header
                button(type="button",data-dismiss="modal").close &times;
                h2.modal-title For Future.
                h3.modal-title Help us find somewhere close to you.
            .modal-body
                form(action='/locations/long_term', method="post", id="longTermForm")
                    .form-group
                        label(for="fName") First Name
                        input(type="text", name="fName", placeholder="e.g. John").form-control#fName
                    .form-group
                        label(for="lName") Last Name
                        input(type="text", name="lName", placeholder="e.g. Doe").form-control#lName
                    .form-group
                        label(for="pwd") Age
                        select.form-control(name="age", placeholder="Select your age")#age
                            option Select your age
                            option 14
                            option 15
                            option 16
                            option 17
                            option 18
                            option 19
                            option 20
                            option 21
                            option 22
                            option 23
                            option 24
                            option 25
                    .form-group
                        .row
                            .col-xs-6
                                select.form-control(name="gender", placeholder="Gender")#gender
                                    option Gender
                                    option Male
                                    option Female
                                    option Other
                            .col-xs-6
                                label.checkbox-inline
                                    input(type="checkbox", name="child", value="yes")
                                    | Parent with child?
                    .form-group
                        input(name="location", type="hidden", value="test location")
                    .form-group
                        input(type="submit", value="Submit")
                        //button.btn.btn-default(name="Submit", type="button", onclick='submitRequest(document.getElementById("longTermForm"))') Submit
                //.text-center
                    //a(href="/locations/long_term")
                        //button.btn.btn-default Submit
script(src='/javascripts/requests.js')
