.modal.fade(id="servicesubmitmodal",role="dialog")
    .modal-dialog.modal-sm
        .modal-content
            .modal-header
                button(type="button", data-dismiss="modal").close &times;
                .h2
                    | Are you sure you want to submit?
                .spacer-sm
            .modal-body                    
                a(data-toggle="modal", href="#")#serviceno
                    button(type="button", data-dismiss="modal").btn.btn-default No
                a.pull-right(data-toggle="modal", href="#")#serviceyes
                    button(type="button", data-dismiss="modal").btn.btn-default Yes
